# MPI
MPI_BIN=mpirun
MPI_HOSTFILE=/tmp/preflight_mpi_hostfile
MPI_NP=
MPI_LOCAL_NP=2
MPI_TIMEOUT=25
MPI_ALLOW_RUN_AS_ROOT=1
MPI_DISABLE_OPENIB_BTL=1
MPI_NO_TREE_SPAWN=1
MPI_VERBOSE=0

# Network selection for OpenMPI control/data paths
CONTROL_IF_CIDR=
CONTROL_IF_NAME=

# Checks
RUN_MPI_STANDALONE_CHECK=1
