# NCCL
NCCL_TEST_BIN=/opt/nccl-tests/build/all_reduce_perf
NCCL_TIMEOUT=60
NCCL_DEBUG=INFO
NCCL_SOCKET_IFNAME=
NCCL_MIN_BYTES=8M
NCCL_MAX_BYTES=128M
NCCL_STEP_FACTOR=2
NCCL_GPUS_PER_PROCESS=1

# Checks
RUN_NCCL_STANDALONE_CHECK=1
